.container {
    background-color: #fffbed;
    display         : flex;
    padding         : 2.7em 3em;
}

.item {
    width          : 100%;
    display        : flex;
    justify-content: space-between;
}

.title {
    margin-bottom: 1.5em;
}

.info {
    list-style: none;
    color     : grey;
    font-size : 0.8em;
}

.socials {
    display: flex;
      /* justify-content: center; */
    align-items: center;
    gap        : 0.5em;
}

.button {
    background-color: orange;
    color           : white;
    padding         : 0.9em ;
    margin-top      : 2em;
    display         : flex;
    justify-content : center;
    text-align      : center;
    border          : none;
    border-radius   : 1.2em;
    font-weight     : bold;
    font-size       : 0.7em;
    cursor          : pointer;
}