.container {
    padding    : 5em;
    margin-top : 2em;
    display    : flex;
    font-family: sans-serif;
}

.tableImg {
    height  : 5em;
    width   : 5em;
    position: relative;
}

.table {
    width     : 100%;
    text-align: left;
}

.table tbody tr > td {
   border-bottom : 0.5px solid rgb(202, 195, 195);
   padding-bottom: 0.2em;
}

.tableHead th{
    border-bottom : 0.5px solid rgb(202, 195, 195);
    padding-bottom: 0.3em;
}


.left {
    flex: 2;
}

.right{
    flex: 1;
}

.wrapper {
    height          : 18em;
    padding         : 2.5em;
    background-color: #333;
    color           : white;
}

.title{ 
    margin-bottom: 1em;
}

.subtitle {
    font-weight : 700;
    font-size   : 1rem;
    margin-right: 0.3em;
}

.name, .total{
    font-weight: 600;
}

.headerImgs {
    display       : flex;
    flex-direction: column;
    gap           : 0.5em;
    margin-top    : 1em;
    width         : 100%;
}

.div{
    margin-bottom: 0.5em;
}

.button_orange{
    color      : blue;
    font-weight: bold;
    width      : 100%;
    padding    : 0.4em 0.8em;
    cursor     : pointer;
}

.button {
    background-color: orange;
    font-weight     : bold;
    width           : 100%;
    padding         : 0.6em 0.8em;
    cursor          : pointer;
    border-radius   : 5px;
}

.text{
    color: rgb(13, 13, 136);
}

.textB{
    color: rgb(105, 105, 201);
}




@media screen and (max-width: 1081px) {
.wrapper {
    height : 18em;
    padding: 2em;
}

.title {
    font-size: 1.3rem;
}

.button {
    padding      : 0.7em;
    margin-top   : 2em;
    font-size    : 1rem;
    border-radius: 0.8em;
}

}


@media screen and (max-width: 768px) {
.wrapper {
    height : 18em;
    padding: 1.8em;
}

.title { 
    font-size: 1.2rem;
}

.subtitle {
    color       : white;
    font-weight : 600;
    font-size   : 0.9rem;
    margin-right: 0.3em;
}

.subPrice{
    color      : white;
    font-weight: 600;
    font-size  : 0.9rem;
}

.button {
    padding      : 0.7em;
    margin-top   : 4em;
    font-size    : 0.7rem;
    border-radius: 0.8em;
}
}