.container {
    padding: 6em 0 2em 0;
    display: flex;
    gap: 10em;
    align-items: center;
}

.pizzaImg {
    width: 18.75em;
    height: 18.75em;
}

.section {
    display: flex;
    gap: 4em;
}

.header {
    font-weight: bold;
}

.pTag {
    color: grey;
    padding-top: 1.5em;
}

.garlic {
    margin-top: 7.5em;
}


@media screen and (max-width: 1081px) {
    .container {
        padding-top: 15em;
        gap: 6em;
    }
}

@media screen and (max-width: 768px) {
.container {
    padding: 9em 0 2em 0;
    gap: 5em;
    align-items: center;
}

.circle_pizza{
    width: 160px;
    height: 160px
}

.section {
    padding-top: 5em;
    gap: 2.5em;
}

.garlic {
    width: 25px;
    height: 25px;
    margin-top: 9.5em;
}

}